concord/
.env
json-c/
json-c-build/
*.o
main
tmp
autom4te.cache/
Makefile.tmp
*~
.deps
stamp-h1
Makefile
**/*.in
configure
config.status
build-aux
*.log
*.m4
src/light
config.h
config.h.in
/configure 
*.in 
Makefile
.deps
